Package: com.laughingquoll.siliqua
Name: Airpods ++
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Modify AirPod controls
Maintainer: LaughingQuoll
Author: LaughingQuoll
Section: Tweaks
